.menu,
.sub-menu {
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}
.menu,
.sub-menu {
  list-style: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#000000));
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  -moz-box-shadow: 0px 0px 8px #444;
  -webkit-box-shadow: 0px 0px 8px #444;
}
.sub-menu {
  background: #444;
  border: 1px solid #e1e1e1;
  -moz-box-shadow: 0px 0px 8px #444;
  -webkit-box-shadow: 0px 0px 8px #444;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 700;
}
.menu li {
  position: relative;
}
.menu > li {
  float: left;
}
.menu > li:hover {
  background: #444;
  border: 1px solid #e1e1e1;
  -moz-box-shadow: 0px 0px 8px #444;
  -webkit-box-shadow: 0px 0px 8px #444;
}
.menu li:hover > .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  min-width: 150px;
}
.sub-menu li:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#000000));
}
.sub-menu .sub-menu {
  top: 0;
  left: 80%;
}
